@import "mixins";
@import "colors";
// #carousel1 > * {
//     border: 1px solid red;
// }
#landing-content {
    width: 100%;
    height: 100vh;
    background: url("https://media.giphy.com/media/ModQaJgxAlcMU/giphy.gif") no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
#moving-hero {
    height: 60vh;
    .overlay {       
        height: 100%;
        @include displayFlex(column);
        // width: 100%;
        // background-color: rgb(0, 0, 139);
        background-color: #00000080;
        
        .hero-content { 
            @include displayFlex(column);
            color: white;
            // h4 {}
            // p {}
            #search-section {
                width: 100%;
                @include displayFlex(row);   
justify-content: space-between;                input {
                    width: 80%;
                padding: 5px;
                border: none;
                  }
            button {
                @include greenButton;

            }
            }
            
        }
    }
}
#carousel {
    height: 50vh;
    background-color: white;
display: grid;
grid-template-areas: 
"carousel-arrows product-cards carousel-areas";
grid-template-columns: 150px auto 150px;
    .carousel-arrows {
        // height: 95%;
        @include displayFlex(column);
        button {
height: 95%;
width: 100%;
border-color: transparent;
background-color: transparent;   
i {
    font-size: 300%;
    color: $headerLight;
}
&:hover {
    background-color: $transparentLight;
    i {
        color: white;
    }
}
        }
#arrow-left {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;}
#arrow-right {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

    }
    #product-cards {
        height: 100%;
    }
}
// #small-hero {
//     height: 30vh;
//     background: url("https://www.wallpaperup.com/uploads/wallpapers/2013/01/19/30243/fbdecd3f7e10f20069f968ad1df48666-700.jpg") center;
// }
#semi-display {
    @include displayFlex(row);
    height: 80vh;
    background-color: $signUpLavender;
}
}

// .popup {
//     @include displayFlex(row);
//     width: 100%;
//     height: 100%;
//     background-color: $transparentOverlay;
//     top: 0;
//     bottom: 0;
//     position: fixed;
    // display: none;
// }