

#landing-content {
    width: 100%;
    height: 100vh;
    background: url("https://media.giphy.com/media/ModQaJgxAlcMU/giphy.gif") no-repeat center center fixed;
    background-attachment: fixed;
    background-color: rgb(7, 7, 14);
    background-size: cover;
#moving-hero {
    // width: 100%;
    height: 60vh;
    // border: 2px solid red;
    background-color: transparent;
}
#carousel1 {
    height: 50vh;
    background-color: white;
}
#small-hero {
    height: 30vh;
    background-color: black;
}
#carousel2 {
    height: 50vh;
    background-color: white;
}
}
