@import "colors";
// $headerLighter: #ececec;
$displayDefault: inline-block;
$fontPrimary: Arial;

@import "mixins";
#first-header {
        @include displayFlex(row);
    background-color: $headerLight;
    justify-content: space-around;
    #website-logo  {
      @include displayFlex(row);
      // box-sizing: content-box;
      font-weight: bold;
      // border: 2px solid green;
    }
   ul {
    list-style-type: none;
    display: $displayDefault;
    // padding: 0 200px;
    li {
    text-decoration: none;
    &:not(:last-child){
       padding-right: 30px;  
    }
    display: $displayDefault;   
    a {
    text-decoration: none;
    color: $headerDark;
    font-size: 75%;
     i {
       position: relative;
      color: $headerDark;  
      font-size: 170%;
      &:hover {
        #shopping-cart {
          display: block;
        }
      }
     #cart-items {
      position: absolute;
      top: -20px;
      left: -3px;
      width: 12px;
      height: 12px;
      color: white;
      padding: 3px;
     font-size: 60%;
      border-radius: 50%;
      background-color: red;
      visibility: hidden;
      text-align: center;
      // border: 1px solid black;     
    }
    #shopping-cart {
      position: absolute;
      display: none;
      // visibility: hidden;
      width: 33vw;
      background-color: white;
      z-index: 10; 
      box-shadow: -5px 10px 18px black;
      // & > * {
      //   // border: 1px solid green;
      // }
      ul {
        // width: 95%;
        // border: 1px solid red;
        li {       
      @include displayFlex(row);
      justify-content: space-between;
      border-bottom: 2px solid $headerLight;
      
        // 
        img {
          width: 20%;
          height: 20%;
        }
      //   div
       p {
         font-size: 75%;
       }
      .number-of-products {
// display: inline-block;
width: 30px;
      }
        button {
          border-radius: 50%;
          border: none;
          background-color: transparent;
          color: $headerLight;
          font-weight: bold;
&:hover {
  color: black;
}
        }
      } 
      }
      // #cart-items:hover #shopping-cart {  
            
      //     display: block;
        
      // }
     
    }



// #shopping-cart {
//         position: absolute;
//         // display: block;
//         width: 30vw;
//         background-color: white;
//         font-size: 60%;
//         & * {
//           border: 1px solid black;
//         }
// thead{
  
//   tr {
  
//      th { 
//       //  column-span: 4;
//     text-align: center;
//   }
//   } 
//   }
// tbody {
//   text-align: center;
  
  // .tr-product {
  //   .td-image {
  //     img {
  //       width: 30%;
  //               height: 30%;
  //     }
      
  //   }
// .td-name {}
// .td-number-of-items > * {
// display: inline-block;

// }
// .td-price {
//   text-align: right;
// }
// .td-x > button{
//   border-radius: 50%;
//             border: none;
//             background-color: transparent;
//             color: red;
//             font-weight: bold;
//   &:hover {
//     color: black;
//   }
// }
  // }
}


}
     }


    
      }
    }
// } 
// }   
  #second-header {
    @include displayFlex(row);
    justify-content: space-evenly;
    width: 100vw;
    background-color: white;
    // border: 2px solid blue;
    // overflow: hidden;
    // background-color: #333;
    height: 50px;
    width: 100%;
    box-sizing: border-box;  
   
    .dropdown-menu {
      text-decoration: none;  
      &:hover {
.dropdown-content {
  display: block;
  width: 70px;
}
      }
  .dropdown-button {
    border: none;
    background-color: transparent;
    padding: 10px;
    margin: 5px;
    border: 3px solid transparent;
    &:hover, &:focus {
      border: 3px solid $headerDark;
    }
  }
  .dropdown-content {
display: none;   
position: absolute;  
   a {
  color: $headerLight;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: $headerDark;
  font-size: 85%;
  width: 200%;
  &:hover {
    background-color: black;
    
  }
}
}
}
}
#website-logo {
  #logo {
  width: 25%;
  height: 25%;
  // display: inline;
  transition: transform 0.1s;
  &:hover {
    transform: rotate(-90deg);
    cursor: pointer;
  }
}
p:hover {
  cursor: pointer;
   
}
}
* > {
  font-family: $fontPrimary;
}