body {
    font-family: Arial, Helvetica, sans-serif;
  }
 
  #page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  #sign-up-container {
    
    height: 500px;
    width: 1000px;
    background-color: #ececec;
  }
  .hero1 {
    width: 40%;
    height: 100%;
    background-image: url("https://static.scientificamerican.com/sciam/cache/file/32472ED8-8A08-49F5-9A2AB70DA387E5B7_source.jpg?w=590&h=800&BC7D68E0-B303-4BF3-95BFF7B0071DC23D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: black; */
    color: white;
    text-align: center;
  }
  h4 {
    font-weight: lighter;
  }
  .overlay {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
  }  
  .overlay:hover {
    background-color: rgb(255, 255, 255, 0.1);
  } 
  .flex {
    display: flex;
    box-sizing: border-box;
     justify-content: center;
    align-items: center;
  }
  .flex-column {
    flex-direction: column;
    
     }
.flex-row {
  flex-direction: row;
} 
  .field1 {
    margin: 15px;
    /* color: lightpink; */
      }
  
  .field-input {
    display: block;
    width: 230px;
    border-radius: 2px;
    border: 1px solid #A4B4C5;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
  }
#password-wrapper {
  padding: 0;
  box-sizing: border-box;
}
#password {
  padding: 9px;
  border-style: hidden;
}
  #eye-icon {
    display: inline-block;
    background-color: transparent;
    border-style: hidden;
   padding: 9px;
   color: #A4B4C5;
  }
  #country {
    background-color: #A4B4C5;
  }
  /* input:hover,
  select:hover, input:focus,
  select:focus {
    border-color:  #66B76F;
  } */
    #sign-up-form {
    width: 60%;
  }
  #sign-up-form > * {
    margin-bottom: 20px;
  }
  .field-row {
    width: 100%;
  }
  .hero-button {
    padding: 7px 30px;
    border: 1px solid #aabaca;
    color: #aabaca;
    background-color: transparent;
    font-size: 50%;
    font-weight: bold;
  }
  .hero-button:hover {
    color: #c7b178;
    border: 2px solid;
  }
    .field-name {
      font-size: 12px;
      font-weight: bold;
      color: #243444;
  }
  .green-button {
      background-color:  #66B76F;
      padding: 10px;
      color: white;
      font-weight: bold;
      width: 230px;
      font-size: 12px;
  } 
form {
  width: 100%;
}
#all-fields {
  width: 100%;
}

select {
  -webkit-appearance: none;
}

#logo {
  width: 15%;
  height: 15%;
  transition: transform 0.1s;
}
#logo:hover {
    transform: rotate(-90deg);
  }

.wrap {
  flex-wrap: wrap;
}
a {
  color:  #66B76F;
  font-size: 12px;
}
