$background-grey: #d9e2fa;
$font-grey: rgb(139, 145, 151);
$button-green: rgb(46, 190, 46);
$signUpLavender: #F4FBFB;
$signUpDarkSea1: #8ECC91;
$signUpDarkSea2: #66B76F;
$signUpDarkSlate: #3B4858;
$signUpDarkSea3: #A6C7B3;
$buttonInHero: #AABACA;
$buttonInHero2: #A4B4C5;
$headerLight: #acbbcb;
$headerDark: #243444;
$sectionTitleWhiteSmoke1: #f4f4f4;
$sectionTitleWhiteSmoke2: #ececec;
$sectionTitleButton: #C1CCD8;
$sectionTitleProductTitle: #444F5F;
$yellowForButton: #C7B178;
// body {
//   font-family: sans-serif;
// }

@import "mixins";

// .flex {

// }
//
 

#sign-up-container {
  height: 500px;
    width: 1000px;
    background-color: $signUpLavender;
    .hero1 {
        width: 40%;
        background-image: url("https://static.scientificamerican.com/sciam/cache/file/32472ED8-8A08-49F5-9A2AB70DA387E5B7_source.jpg?w=590&h=800&BC7D68E0-B303-4BF3-95BFF7B0071DC23D");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
        color: white;
        text-align: center;
        position: relative;

        .overlay {
            height: 100%;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            .hero-content {
              // h2 {
              //     color: white;
              //   }
              .hero-button {
                      padding: 7px 30px;
                    border: 1px solid #aabaca;
                    color: #aabaca;
                    background-color: transparent;
                    font-size: 50%;
                    font-weight: bold;
                  &:hover {
                    /* background-color: rgb(56, 44, 44); */
                    color: $yellowForButton;
                    border: 2px solid;
                    /* opacity: 0.8; */       
              }
            }
          }

      }
      #sign-up-form {
          border: 2px solid cyan;
          #all-fields {
            .field-row {
border: 1px solid blue;              
              .field1{
                border: 1px solid green;
                  display: inline-block;
                  margin: 15px;
                  input,
                  select {
                    display: block;
                    width: 230px;
                  }
              }
            }
          }
        }
        #sign-up-form > * {
          margin-bottom: 20px;
        }
}
}

.flex {
  @include displayFlex;
}
.flex-column {
    flex-direction: column;
    }