$lightGreenForButton: #66B76F;
$darkGreenForButton: #2d9c3a;
$transparentOverlay: #00000080;
$transparentWhite: #ffffffe6;
$transparentLight: #0000001a;
$headerDark: #243444;
$headerLight: #acbbcb;
$signUpLavender: #F4FBFB;




$background-grey: #d9e2fa;
$font-grey: rgb(139, 145, 151);
$button-green: rgb(46, 190, 46);
$signUpDarkSea1: #8ECC91;
$signUpDarkSea2: #66B76F;
$signUpDarkSlate: #3B4858;
$signUpDarkSea3: #A6C7B3;
$buttonInHero: #AABACA;
$buttonInHero2: #A4B4C5;
$headerLight: #acbbcb;
$headerDark: #243444;
$sectionTitleWhiteSmoke1: #f4f4f4;
$sectionTitleWhiteSmoke2: #ececec;
$sectionTitleButton: #C1CCD8;
$sectionTitleProductTitle: #444F5F;
$yellowForButton: #C7B178;