@import "colors";
@mixin displayFlex ($flexDirection) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: center;
    align-items: center;
    align-content: center;
    // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }

@mixin greenButton {
          background-color:  $headerDark;
          padding: 10px 20px;
          color: white;
          font-weight: bold;
          width: 150px;
          font-size: 12px;
          border: 2px solid $headerDark;
          &:hover {
            background-color:$darkGreenForButton;
            border-color: $darkGreenForButton;
          }
      }

      @mixin detailsButton {
        background-color:  transparent;
          padding: 10px 20px;
          color: $headerDark;
          font-weight: bold;
          width: 150px;
          font-size: 12px;
          border: 2px solid $headerDark;
          &:hover {
            border-color: $darkGreenForButton;
          }
    }