#overview-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-image: url("https://i.pinimg.com/originals/21/ff/f6/21fff602082a8c1e5b16fa3cac039d74.jpg");
  padding: 10px;
}

#overview-content #filter {
  border: 2px solid black;
}

#overview-content #filter #filter-card {
  width: 250px;
  background-color: white;
  -webkit-box-shadow: -5px 10px 18px black;
          box-shadow: -5px 10px 18px black;
  padding: 5px 15px;
}

#overview-content #filter #filter-card div .price-range, #overview-content #filter #filter-card div input {
  display: inline;
}

#overview-content #browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px 15px;
  border: 2px solid black;
}

#overview-content #browse #browsing {
  background-color: white;
  width: 65vw;
  padding: 20px;
  margin-bottom: 20px;
}

#overview-content #browse #browsing #change-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#overview-content #browse #browsing #change-filter .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 15px;
}

#overview-content #browse #browsing #change-filter .fields label {
  font-size: 85%;
}

#overview-content #browse #browsing #change-filter .fields select {
  width: 150px;
  padding: 10px 0px;
  border-radius: 5px;
}

#overview-content #browse #browsing #change-filter .fields-btn {
  background-color: white;
  border: 1px solid #acbbcb;
  margin-right: 15px;
  padding: 10px;
  position: relative;
  top: 7px;
  border-radius: 5px;
  width: 150px;
  z-index: 0;
}

#overview-content #browse #browsing #change-filter .fields-btn:hover {
  border: 1px solid #243444;
  cursor: pointer;
}

#overview-content #browse #user-cards {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

#overview-content #browse #user-cards .user-card {
  position: relative;
  width: 260px;
  height: 320px;
  background-color: white;
  border: 2px solid #ececec;
  -webkit-box-shadow: -5px 10px 18px black;
          box-shadow: -5px 10px 18px black;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#overview-content #browse #user-cards .user-card p {
  width: 80%;
  font-size: 75%;
}

#overview-content #browse #user-cards .user-card .card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 90%;
  height: 96%;
  position: absolute;
  background-color: #ffffffe6;
  display: none;
}

#overview-content #browse #user-cards .user-card .card-overlay .details {
  background-color: transparent;
  padding: 10px 20px;
  color: #243444;
  font-weight: bold;
  width: 150px;
  font-size: 12px;
  border: 2px solid #243444;
  margin-bottom: 20px;
}

#overview-content #browse #user-cards .user-card .card-overlay .details:hover {
  border-color: #2d9c3a;
  cursor: pointer;
}

#overview-content #browse #user-cards .user-card .card-overlay .add-to-cart {
  background-color: #243444;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  width: 150px;
  font-size: 12px;
  border: 2px solid #243444;
}

#overview-content #browse #user-cards .user-card .card-overlay .add-to-cart:hover {
  background-color: #2d9c3a;
  border-color: #2d9c3a;
  cursor: pointer;
}

#overview-content #browse #user-cards .user-card:hover .card-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product-container {
  background-color: #00000080;
  position: absolute;
  top: 1px;
  height: 3000px;
  width: 98vw;
  display: none;
}

#product-container #product-page {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#product-container #product-page #product-details {
  width: 60vw;
}

#product-container #product-page #product-details #product-images #small-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

#product-container #product-page #product-details #product-images #small-images .small-images {
  padding: 0px 5px;
}

#product-container #product-page #product-details #product-description {
  padding: 15px;
}

#product-container #product-page .product-name-card #card {
  width: 250px;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: -5px 10px 18px black;
          box-shadow: -5px 10px 18px black;
  margin-top: 100px;
}

#product-container #product-page .product-name-card #card h5 {
  padding: 0px 20px;
}

#product-container #product-page .product-name-card #card h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 30px;
}

#product-container #product-page .product-name-card #card button {
  display: block;
  background-color: #243444;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  width: 150px;
  font-size: 12px;
  border: 2px solid #243444;
  width: 95%;
}

#product-container #product-page .product-name-card #card button:hover {
  background-color: #2d9c3a;
  border-color: #2d9c3a;
  cursor: pointer;
}
/*# sourceMappingURL=stylesForProductsOverview.css.map */