@import "mixins";
@import "colors";
$shadow:  -5px 10px 18px black;
// * {
//     border: 1px solid red;
// }
#overview-content {
    // * {
    //     border: 1px solid red;
    // }
@include displayFlex(row);
align-items: flex-start;
align-content: space-between;
//    background-color: #bdcebe;
   background-image: url("https://i.pinimg.com/originals/21/ff/f6/21fff602082a8c1e5b16fa3cac039d74.jpg");
//    background-repeat: repeat;
  padding: 10px;
#filter {  
    border: 2px solid black;  
    #filter-card {
        width: 200px;
    // margin-top: 10px;
    background-color: white;
    box-shadow: $shadow;
//  background-color: transparent;
//    background-color: #fefbd8;
//    background-color: #f0f0f0;
   padding: 5px 15px;
    // border-radius: 10px;
    }
// p {}

}
#browse {
// width: 1000px;
// height: 1000px;
@include displayFlex(column);
padding: 5px 15px;
border: 2px solid black;
// margin-top: 0px;
// p {}
// & >* {
//     border: 2px solid fuchsia;
// }
#browsing {
    background-color: white;
    width: 85%;
    // position: relative;
    // margin: auto
    // color: white;
    // box-shadow: $shadow;
    padding: 20px;
    margin-bottom: 20px;
  #change-filter{
    @include displayFlex(row);
    justify-content: flex-start;
    .fields {
        @include displayFlex(column);
        align-items: flex-start;
        margin-right: 15px;
        label {
            font-size: 85%;
        }
         select {
             width: 150px;
             padding: 10px 0px;
             border-radius: 5px;
            //  option {}
         }
    }  
    .fields-btn {
        background-color: white;
        border: 1px solid $headerLight;
        margin-right: 15px;
padding: 10px;
position: relative;
top: 7px;
border-radius: 5px;
width: 150px;
z-index: 0;
&:hover {
    border: 1px solid $headerDark;
}
    } 
}  
}

#user-cards {
    padding: 10px 0px;
    @include displayFlex(row);
    justify-content: space-evenly;
    flex-wrap: wrap;
    .user-card {
        position: relative;
        width: 25%;
       height: 320px;
        background-color: white;
        border: 2px solid #ececec;
        box-shadow: $shadow;
        // border-radius: 10px;
        // z-index: -1;
        // box-sizing: border-box;
        margin-bottom: 20px;
        // height: 250px;
        @include displayFlex(column);
        justify-content: space-between;
        // .user-card > * {
        //     margin: 0px;
        // }
        // img {}
        p {
          width: 80%;   
          font-size: 75%;  
        //   fo       
        }
        // h3 {}
        .card-overlay {
            @include displayFlex(column);
            width: 90%;
            height: 96%;
            // box-sizing: border-box;
            position: absolute;
            background-color: $transparentWhite;
            display: none;
            .details {
                @include detailsButton;
                margin-bottom: 20px;
            }
            .add-to-cart {
                @include greenButton;
            }
        }
        &:hover {
            .card-overlay {
display: flex;            }
        }
    }
}
}

}

#product-container {
    background-color: $transparentOverlay;
    position: absolute;
    top: 1px;
   height: 3000px;
    width: 98vw;
    // left: 50%;
    display: none;
    #product-page {
        // * {
        //     border: 1px solid red
        // }
        width: 80vw;
        // left: 0; 
        // right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        background-color: white;
    @include displayFlex(row);
    justify-content: flex-start;
    align-items: flex-start;
    #product-details {
        width: 60vw;
        #product-images {
            // @include displayFlex(column);
            // #large-image {
                // border: 1px solid red;
                // max-width: 70vw;
                // max-height: 70vh;
            // }
            #small-images {
                @include displayFlex(row);
                // border: 1px solid $headerDark;
                width: 100%;
                // margin-bottom: 15px;
                // justify-content: center;
                .small-images {
                    padding: 0px 5px;
                }
            }
        }
        #product-description {
            padding: 15px;
        }
    }
    .product-name-card {
        #card {
            width: 250px;
            height: 280px;
       
        // border: 1px solid green; 
        @include displayFlex(column);
        box-shadow: $shadow;
        margin-top: 100px;
        // & * {
        //     border: 1px solid red;
        // }
                h5 {
            // color: $signUpDarkSlate;
            padding: 0px 20px;
        }
        h2 {
            // position: relative;
            // right: 0px;
            align-self: flex-end;
            margin-right: 30px;
        }
        button {
            display: block;
            @include greenButton;
            width: 95%;
        }
        }
       
    }
}
}
